body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

.container {
    display: flex;
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

input {
    padding: 20px;
}

select {
    padding: 15px;
}